/* https://www.schemecolor.com/color-of-love.php */

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #FFB3D1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
}

h1 {
    margin: 0;
}

.container {
    max-width: 450px;
    width: 90%;
    margin: 0 auto;
}

nav {
    text-align: center;
    background: #FF89BB;
    /* padding: 3em 0; */
    height: 10vh;
}

nav h1 {
    color: white;
    text-shadow: 0px 1px 0px rgba(255,0,0,0.4);
}

#root {
    margin: 0 auto;
    width: 100%;
    height: 60vh;
    border-radius: 25px;
    border-bottom: 10px solid #FF89BB;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }

.buttons {
    background: #FF89BB;
    padding: 1em 0;
    height: 10vh;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 767px) {
  /* Styles for mobile devices go here */
  
  .container {
      width: 100%;
  }  

}

ion-icon {
    font-size: 5rem;
    color: whitesmoke;
    cursor: pointer;
    transition: all 0.2s;
}

ion-icon[name="close-circle"]{
    color: white;
}

ion-icon[name="checkmark-circle"]{
    color: white;
}


ion-icon:hover {
    filter: brightness(105%)
}

/* 	Colors
#15b9ab	rgb(21, 185, 171)	
#91d6ea	rgb(145, 214, 234)	
#0d776e	rgb(13, 119, 110)	
#6e8c94	rgb(110, 140, 148)	
#bcc4c4	rgb(188, 196, 196)	
#3c5b6c	rgb(60, 91, 108)
 */